
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kalam:wght@300;400;700&family=Space+Mono:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(11, 3, 24);
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Kalam', cursive;
    /* font-family: 'Space Mono', monospace; */
    position: relative;
}
.navbar{
    background-color: #EB7F00;
    height: 60px;
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100vw;
}
nav{
    background-color:#b4650a;
    height: 60px;
    display: inline;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 110;
}
nav img{
    transform: translateX(80vw);
    height: 59px;
    cursor: pointer;
    border-left: 2px solid #EB7F00;
    border-right: 2px solid #EB7F00;
    border-bottom: 2px solid #EB7F00;
    border-radius:  0 0 10px 10px;
    box-shadow: -2px -2px 15px orangered ;
    position: fixed;
    top: 0;
    z-index: 11;
}
main{
    /* background-color: rgb(32, 255, 181); */
    position: relative;
    top: 50px;
    display: grid;
    margin: 20px;
    height: 600px;
    grid-template-columns: 300px 1fr;
}
aside{
    padding: 20px;
    padding-top: 50px;
    background-color: #bbbbbb;
    margin: 20px;
    margin-left:0 ;
    margin-top: 0;
    box-shadow: 2px 0 2px rgb(68, 55, 29);
    height: 100%;
    text-align: left;
}
aside h2{
    margin-bottom: 50px;
   
}
aside ul{
    list-style: none;
}
.big-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}

.image-holder{
    /* background-color: rgb(187, 183, 183); */
    overflow: hidden;
    padding: 10px;
    max-width: 250px;
    display: flex;
    margin: 2px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.4s;

}
.container1, .container2, .container3, .container4{
    margin: 0;
}
.container1 img, .container2 img, .container3 img, .container4 img{
    width: 90%;
    overflow: hidden;
    border-radius: 4px;
    transition: 0.4s;
    margin: 0px;   
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:none;
}

.image-holder:hover img{
    scale: 1.08;
    border-radius: 10px;
    background-color: rgba(12, 12, 12, 0.2); 
    box-shadow: 0px 0px 10px rgb(66, 63, 63);
}

.middle a{
 padding: 10px 15px;
    border: transparent;
    transition: 0.3s;
    color: #fff;
    opacity: 0;
    margin: auto;
} 
.middle a button{
    padding: 10px 15px;
    border: transparent;
    border-radius: 3px;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2.5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    background:#a05500 ;
    color: #fff;
    opacity: 0;
    margin: auto;
}
.middle h5{
    margin: auto;
    text-align: center;
    transition: 0.3s;
    color: #fff;
    opacity: 0;
    margin: auto;
}
 
.image-holder:hover .middle h5{
    opacity: 1;
}
.image-holder:hover .middle button{
    opacity: 1;
}
.image-holder:hover .middle a{
    opacity: 1;
}
.middle button:hover{
    background: #fff;
    color: #a05500;
    box-shadow: 0 1px 2px white;
}

.middle{
    width: 90%;
    height: 55%;
    z-index: 10;
    position: absolute;
    transition: 0.4s;
    bottom: 0;
    border-radius: 10px;
    scale: 0.93;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.image-holder:hover .middle{
   transition: 0.4s;
   scale: 1;
    background: linear-gradient(to top, rgba(0,0,0,1) , rgba(255, 255, 255, 0));
}
footer{
    color: #fff;
    position: absolute;
    font-family: monospace;
    bottom: 0;
}